.App-header {
  display: flex;
  align-items: center;
  color: #E0354B;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px solid #E0354B;
}

.App-header > img {
  width: 150px;
}
.App-body {
  margin: 40px 20px;
  min-height: 60vh;
}
.App-footer {
  margin-top: auto;
  border-top: 4px solid #E0354B;
}

.App-footer > p {
  text-align: center;
  font-style: italic;
}